<main class="container mt-5">
  <form class="new-tech-post-form mb-3" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title-new-tech-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Title</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="title-new-tech-post" placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="content-new-tech-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Content</label>
      <textarea class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="content-new-tech-post" rows="3" placeholder="The whole content of your post"></textarea>
    </div>
    <div class="mb-3">
      <label for="time-new-tech-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Date</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="time-new-tech-post" placeholder="Date of your post">
    </div>
    <button type="submit" class="btn mx-auto px-4 py-2 bg-lime-700 text-white rounded-r-md focus:border-yellow-500 btn-warning">Create post</button>
  </form>
</main>
